<% include partials/header %>
<% include partials/header-nav %>
        <div class="posts-container">
            <img src="<%=post.image%>">
            <div class="post">
                <h2><%= post.title %></h2>
                <h3><%= post.subheading %></h3>
                <h4>by <%= post.author.firstname %> <%= post.author.lastname %></h4>
                <div class="created"><%= new Date(post.created).toDateString() %></div>
                <p><%= post.content %></p>
                <div class="ui divider"></div>
                <a href="/posts">
                    <div class="ui inverted button small blue">
                        Back to Posts
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
