<% include ../partials/header %>
<% include ../partials/header-nav %>
<% posts.forEach(function(post) {%>
<div class="posts-container">
    <img src="<%=post.image%>">
    <div class="post">
        <h2><%= post.title %></h2>
        <h3><%= post.subheading %></h3>
        <h4>by <%= post.author.firstname %> <%= post.author.lastname %></h4>
        <div class="created"><%= new Date(post.created).toDateString() %></div>
        <p><%= post.content %></p>
        <% post.tags.forEach(function(tag) {%>
        <%= tag %>&nbsp;
        <% }) %>
        <div class="posts-buttons">
            <div class="comment-widget">
                0 Comments
            </div>
            <a href="/posts/<%=post._id%>">
                <div class="ui inverted button tiny green">
                    Read More
                </div>
            </a>
        </div>
        <% if (currentUser && currentUser.accessLevel === "Admin") { %>
            <div class="posts-buttons">
                <a href="/posts/<%= post._id %>/edit">
                    <div class="ui inverted button small blue">
                        Update Post
                    </div>
                </a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="ui inverted button small red">Delete Post</button>
                </form>
            </div>
        <% } %>
    </div>
</div>
<% }) %>
<% include ../partials/footer %>
