<% include ../partials/header %>
<% include ../partials/header-nav %>
        <div class="posts-container">
            <img src="<%=post.image%>">
            <div class="post">
                <h2><%= post.title %></h2>
                <h3><%= post.subheading %></h3>
                <h4>by <%= post.author.firstname %> <%= post.author.lastname %></h4>
                <div class="created"><%= new Date(post.created).toDateString() %></div>
                <p><%- sanitize(post.content, { allowedTags: sanitize.defaults.allowedTags.concat([ 'img' ]) }); %></p>
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <% if (post.comments.length === 0) { %>
                        <p>No comments to show</p>
                    <% } %>
                    <% post.comments.forEach(function(comment) { %>
                        <div id="<%= comment._id %>" class="comment">
                            <a class="author"><%= comment.postedBy.firstname %> <%= comment.postedBy.lastname %></a>
                            <!--<% if (currentUser && currentUser._id.equals(comment.postedBy._id)) { %>
                                <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="ui button tiny"><i class="trash icon"></i></button>
                                </form>
                            <% } %>-->
                        </div>
                        <div class="text">
                            <p><%= comment.text %></p>
                        </div>
                    <% }); %>
                </div>
                <% if (currentUser) { %>
                <div class="ui divider"></div>
                <form class="ui form" action="/posts/<%= post._id %>/comments" method="POST">
                    <div class="field">
                        <textarea name="comment[content]" draggable="false"></textarea>
                    </div>
                    <button class="ui submit labeled icon button red" type="submit">
                        <i class="icon edit"></i>
                        Add Comment
                    </button>
                </form>
                <% } %>
                <div class="ui divider"></div>
                <div class="posts-buttons">
                    <a href="/posts">
                        <div class="ui inverted button tiny orange">
                            Back to Posts
                        </div>
                    </a>
                    <% if (currentUser && currentUser.accessLevel === "Admin") { %>
                    <a href="/posts/<%= post._id %>/edit">
                        <div class="ui inverted button tiny blue">
                            Update Post
                        </div>
                    </a>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="ui inverted button tiny red">Delete Post</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
